body {
    font-family: Helvetica, sans-serif;
    color: black;
    /* background: linear-gradient(#20033a, #0e0416); */
    background-color: #F4F4F7;
    padding: 0 40px;
}

h1 {
    font-size: 100px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

section {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 200px;
    gap: 160px 2px;
    position: relative;
}

.card {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(209, 210, 255, 0.9); */
    background-color: #2E313C;
    color: white;
    height: 325px;
    width: 240px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition-duration: .3s;
}

.card:hover {
    background-color: black;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0, 1);
    /* background-color: rgba(24, 23, 23, .5); */
}

.planet-circle {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    margin: 0;
}

.sun {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    height: 75%;
    width: 90%;
    font-size: 170%;
}

.sun .planet-circle {
    width: 400px;
    height: 400px;
    background-color: rgb(233, 142, 5);
}

.mercury .planet-circle {
    background-color: #9E9E8F;
    width: 38px; height: 38px;
}

.venus .planet-circle {
    background-color: #b8993f;
    width: 95px; height: 95px;
}

.earth .planet-circle {
    background-color: #6B93D6;
    width: 100px; height: 100px;
}

.mars .planet-circle {
    background-color: #7e432a;
    width: 53px; height: 53px;
}

.jupiter .planet-circle {
    background-color: #B6A19E;
    width: 224px; height: 224px;
}

.saturn .planet-circle {
    background-color: #F4CEA0;
    width: 189px; height: 189px;
}

.uranus .planet-circle {
    background-color: #A9DDEC;
    width: 80px; height: 80px;
}

.neptune .planet-circle {
    background-color: #466DAB;
    width: 77px; height: 77px;
}